@{
  Layout = "_Layout";
}

@using UniversityReg.Models;
@model List<University.Models.Course>;

<h1>Courses</h1>

@if (@Model.Count == 0)
{
  <h3>No courses have been added yet!</h3>
} 

@foreach (Course course in Model)
{
  <li>@Html.ActionLink($"{course.Name}", "Name", new { id = course.CourseId }) || @Model.Number</li>
}

<p>@Html.ActionLink("Add new course", "Create")</p>